.bg-steel {
  background-color: #50687a;
}

article {
  margin-top: 1em;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}